
.icon-location:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */